.side-bar
  .side-bar__header
    .side-bar__header__box
      .side-bar__header__box__items
        %p.side-bar__header__box__items__name
          = current_user.name
        %ul.side-bar__header__box__items__icons
          %li.side-bar__header__box__items__icons__icon
            = link_to new_group_path do
              %i.far.fa-edit
          %li.side-bar__header__box__items__icons__icon
            = link_to edit_user_path(current_user) do
              %i.fas.fa-cog
  .side-bar__group-list
    - current_user.groups.each do |group|
      = link_to group_messages_path(group) do
        .side-bar__group-list__group
          %p.side-bar__group-list__group__group-name
            = group.name
          %p.side-bar__group-list__group__messages
            まだメッセージがありません